#sidebar {
  width: 240px;
  height: 100vh;
  color: #fff;
  background: linear-gradient(#5222f0, #167ff7);
}

#content {
  margin-left: 240px;
}

#bulletin-board {
  width: 500px;
  height: 100%;
  background: #fff;
}
