<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="mt-5">
    <a href="#"><img class="logo" src="assets/logo.png" alt="Logo"></a>
  </div>

  <div class="mt-5">
    <a href="#"><img class="profile" src="assets/profile.jpg" alt="Profile Image"></a>
  </div>

  <h6 class="mt-4 small font-weight-bold">Hello, Susie!</h6>

  <nav class="w-100 mt-4 d-flex flex-column justify-content-start">
    <div class="nav-item py-3 d-flex align-items-center active">
      <i class="material-icons ml-5">dashboard</i>
      <span class="ml-3 font-weight-bold">Dashboard</span>
    </div>
    <div class="nav-item py-3 d-flex align-items-center">
      <i class="material-icons ml-5">calendar_today</i>
      <span class="ml-3 font-weight-bold">Calendar</span>
    </div>
    <div class="nav-item py-3 d-flex align-items-center">
      <i class="material-icons ml-5">receipt</i>
      <span class="ml-3 font-weight-bold">Tickets</span>
    </div>
    <div class="nav-item py-3 d-flex align-items-center">
      <i class="material-icons ml-5">contacts</i>
      <span class="ml-3 font-weight-bold">Contacts</span>
    </div>
    <div class="nav-item py-3 d-flex align-items-center">
      <i class="material-icons ml-5">book</i>
      <span class="ml-3 font-weight-bold">Book</span>
    </div>
    <div class="nav-item py-3 d-flex align-items-center">
      <i class="material-icons ml-5">settings_applications</i>
      <span class="ml-3 font-weight-bold">Settings</span>
    </div>
  </nav>

  <p class="small position-absolute" style="bottom: 0">
    Powered by Nest
  </p>
</div>