.logo {
  width: 48px;
  height: 48px;
}

.profile {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
}

.nav-item {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease-in-out;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.25s ease-in-out;
}

.nav-item .material-icons {
  font-size: 0.95em;
}

.nav-item.active {
  background: #fff;
  color: #5222f0;
}
