.logo {
  width: 48px;
  height: 48px;
}

.profile {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
}

.nav-item {
  color: rgba(255, 255, 255, 0.5);
}

.nav-item.active {
  background: #fff;
  color: #5222f0;
}
