.profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.filter-button {
  padding: 10px 32px;
  border-radius: 15px;
}

.filter-button.active {
  background-color: #fff;
  border-bottom: 3px solid #5222f0;
}

.header {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  z-index: 10;
}

#time-card {
  position: relative;
}

#time-card:after {
  content: '';
  background: url('~/assets/192284.jpg');
  border-radius: 20px;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#weather-card {
  position: relative;
}

#weather-card:after {
  content: '';
  background: url('~/assets/v2osk-JE01L3hB0GQ-unsplash.jpg');
  border-radius: 20px;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.card {
  border-radius: 20px;
}

.shift-card {
  border-color: #eee;
  border-radius: 0;
  padding: 10px;
}

.shift-card:first-child {
  border-radius: 20px 20px 0px 0px;
}

.shift-card:last-child {
  border-radius: 0px 0px 20px 20px;
}

.text-grey {
  color: #aaa;
}

.badge-success {
  color: rgba(40, 167, 69, 1);
  background-color: rgba(40, 167, 69, 0.1);
}

.badge-warning {
  color: rgba(255, 193, 8, 1);
  background-color: rgba(255, 193, 8, 0.1);
}

.badge-danger {
  color: rgba(220, 53, 69, 1);
  background-color: rgba(220, 53, 69, 0.1);
}
