<div class="mx-4 px-2 pt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="font-weight-bold">Shift Monitor</h5>
    <div>
      <i class="material-icons ml-3">search</i>
      <i class="material-icons ml-3">filter_list</i>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <h6 class="filter-button mr-1 active shadow"><small class="font-weight-bold">Pending</small></h6>
      <h6 class="filter-button mr-1"><small class="font-weight-bold text-secondary">Confirmed</small></h6>
    </div>

    <h6 class="mb-0 font-weight-bold">26 Jan, 2019</h6>
  </div>

  <div class="row mt-5">
    <div class="col-7">
      <div id="shifts">
        <div class="card shift-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="small font-weight-bold text-grey">Name</h6>
                <div class="d-flex">
                  <img class="profile" src="assets/profile.jpg" alt="Profile Image">
                  <div class="d-flex flex-column ml-2">
                    <span class="small font-weight-bold">Jeff Black</span>
                    <span class="small text-grey font-weight-bold">Team Member</span>
                  </div>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Phone Number</h6>
                <span class="small font-weight-bold">(+01) 978-835-7855</span>
              </div>

              <div class="col">
                <h6 class="small font-weight-bold text-grey">Time and Place</h6>
                <div class="d-flex flex-column">
                  <span class="small font-weight-bold">10:00 AM - 07:00 PM</span>
                  <span class="small text-grey font-weight-bold">Fifth Avenue Store</span>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Status</h6>
                <span class="badge-success px-3 py-1 rounded small">Active</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card shift-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="small font-weight-bold text-grey">Name</h6>
                <div class="d-flex">
                  <img class="profile" src="assets/profile.jpg" alt="Profile Image">
                  <div class="d-flex flex-column ml-2">
                    <span class="small font-weight-bold">Jeff Black</span>
                    <span class="small text-grey font-weight-bold">Team Member</span>
                  </div>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Phone Number</h6>
                <span class="small font-weight-bold">(+01) 978-835-7855</span>
              </div>

              <div class="col">
                <h6 class="small font-weight-bold text-grey">Time and Place</h6>
                <div class="d-flex flex-column">
                  <span class="small font-weight-bold">10:00 AM - 07:00 PM</span>
                  <span class="small text-grey font-weight-bold">Fifth Avenue Store</span>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Status</h6>
                <span class="badge-warning px-3 py-1 rounded small">Waiting</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card shift-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h6 class="small font-weight-bold text-grey">Name</h6>
                <div class="d-flex">
                  <img class="profile" src="assets/profile.jpg" alt="Profile Image">
                  <div class="d-flex flex-column ml-2">
                    <span class="small font-weight-bold">Jeff Black</span>
                    <span class="small text-grey font-weight-bold">Team Member</span>
                  </div>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Phone Number</h6>
                <span class="small font-weight-bold">(+01) 978-835-7855</span>
              </div>

              <div class="col">
                <h6 class="small font-weight-bold text-grey">Time and Place</h6>
                <div class="d-flex flex-column">
                  <span class="small font-weight-bold">10:00 AM - 07:00 PM</span>
                  <span class="small text-grey font-weight-bold">Fifth Avenue Store</span>
                </div>

                <div class="my-4"></div>

                <h6 class="small font-weight-bold text-grey">Status</h6>
                <span class="badge-danger px-3 py-1 rounded small">Idle</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="travel-time">
        <h6 class="font-weight-bold">Travel Time</h6>

        <div id="time-card" class="card" style="height: 400px">
          <div class="w-100 position-absolute d-flex justify-content-center header py-2 shadow-sm">
            <span class="my-1 mx-3 small text-primary font-weight-bold">Car</span>
            <span class="my-1 mx-3 small">Bus</span>
            <span class="my-1 mx-3 small">Walk</span>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <div>
              <h6 class="small font-weight-bold">Leave By</h6>
              <h1 class="font-weight-bold">08:34 <small class="h5">AM</small></h1>

              <p class="small mt-3">Estimated time: 11 minutes</p>
            </div>
          </div>
        </div>
      </div>

      <div id="weather" class="mt-4">
        <h6 class="font-weight-bold">Today's Weather</h6>

        <div id="weather-card" class="card" style="height: 400px">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6 class="small font-weight-bold">New York</h6>
            <h1 class="font-weight-bold">27<sup>°</sup>C</h1>
            <p class="small">Clear</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>